<main>
  <div class="container mt-auto">
    <div class="row justify-content-center">
      <div class="col-5">
        <a>
          <!-- <li class="list-group-item" (click)="editar()"> -->
            <li class="list-group-item" routerLink="{{catalogo.idCatalogo}}">
            {{ catalogo.descripcion | uppercase }}
          </li>
        </a>
      </div>
      <div class="col-1">
        <a>
          <fa-icon [icon]="lupa" class="fa-2x" (click)="editar()"></fa-icon>
        </a>
      </div>
      <div class="col-1">
        <a>
          <fa-icon [icon]="pencil" class="fa-2x" (click)="editar()"></fa-icon>
        </a>
      </div>
      <div class="col-1">
        <a>
          <fa-icon [icon]="trash" class="fa-2x" (click)="eliminar()"></fa-icon>
        </a>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  <div *ngFor="let producto of productosCatalogo" id="productosCatalogo">
    {{ producto.descripcion}}
  </div>
</main>
