<!-- <main>
    <div class="container mt-auto">
  
      <h3>Productos</h3>
  
      <div *ngFor="let alimentacion of alimentaciones">
        <app-alimentaciones-consultar [alimentacion]="alimentacion"
        (alimentacionConsultar)="onAlimentacionConsultar($event)">
        </app-alimentaciones-consultar>
  
        <pre>{{ lavadora | json }}</pre>
  
      </div>
  
      <div *ngFor="let televisor of televisores">
        <app-menajes-consultar [menaje]="menaje"
        (menajeConsultar)="onMenajeConsultar($event)">
        </app-menajes-consultar>
  
        <pre>{{ televisor | json }}</pre>
  
      </div>
    </div>
  </main>
   -->