<main>
    <div class="container-fluid">
      <div class="row" id="notfound">
        <div class="col"><a class="nav-link home" routerLink="/" routerLinkActive="router-link-active">
            <img class="alim-mena img-fluid" src="../../../assets/logo.png"
              alt="alim-mena"></a>
        </div>
        <div class="col">
          <h1 class="text-center mt-4">Not Found</h1>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <h2 class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error 404</h2>
        <a class="nav-link home" routerLink="/" routerLinkActive="router-link-active">
            <fa-icon id="iconoHome"></fa-icon> Inicio
          </a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br><br><br><br><br><br><br><br><br><br>
  
  
  </main>
  